<div class="background">
    <div class="container text-center">
        <br>
        <br>
        <br>
        <br>
        <h1 style="font-size: 24px; font-family: 'georgia';font-weight: bold;">Welcome to Pension Management System</h1><br>
        <a *ngIf="!loggedIn" routerLink="/login" mat-raised-button color="accent" style="color: red;">Login here</a>
    </div>
</div>
<div class="about-section">
    <h1 style="color: black; font-size: 30px; font-weight:initial;">About Us</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor </p>
    <p>in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt
     in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
